#header {
    position: relative;
    display: grid;
    place-items: center;
}


#header:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    background: url("/static/img/IMG_0710_Small.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.8;

    content: "";
}

#header .img-responsive {
    border-radius: 50%;
}